<div class="main-container">
    <h1><span style="color: #E91E63">N</span>OUVEAU MOT DE PASSE</h1>
    <form [formGroup]="editPasswordForm" class="form-container" fxLayout="column" fxLayoutAlign="space-between">
        
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Ancien mot de passe</mat-label>
            <input matInput type="password" formControlName="oldPassword" required>
            <mat-icon matSuffix color="accent">lock</mat-icon>
            <mat-error *ngIf="editPasswordForm.get('oldPassword').status === 'INVALID'">
                <app-validation-errors [errors]="editPasswordForm.get('oldPassword').errors"></app-validation-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Nouveau mot de passe</mat-label>
            <input matInput type="password" formControlName="newPassword" required>
            <mat-icon matSuffix color="accent">lock</mat-icon>
            <mat-error *ngIf="editPasswordForm.get('newPassword').status === 'INVALID'">
                <app-validation-errors [errors]="editPasswordForm.get('newPassword').errors"></app-validation-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Confirmation du mot de passe</mat-label>
            <input matInput type="password" formControlName="newPasswordConfirm" required [errorStateMatcher]="matcher">
            <mat-icon matSuffix color="accent">lock</mat-icon>
            <mat-error *ngIf="editPasswordForm.get('newPasswordConfirm').status === 'INVALID' || editPasswordForm.hasError('notSame')">
                <app-validation-errors
                    [errors]="editPasswordForm.get('newPasswordConfirm').status === 'INVALID' ? editPasswordForm.get('newPasswordConfirm').errors : editPasswordForm.errors">
                </app-validation-errors>
            </mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="accent" [class.spinner]="loading" [disabled]="!editPasswordForm.valid || loading" (click)="submit()">Valider</button>
        <button style="margin-top: 5%;" mat-raised-button color="primary" (click)="close()">Annuler</button>
    </form>
</div>