h1 {
    flex: 1;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 200%;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    flex: 9;
    max-width: 400px;
    min-width: 100px;
    width: 100%;
    text-align: center;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }