h1 {
  flex: 1;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 200%;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.post-container {
  display: flex;
  width: 70%;
  max-width: 70%;
  min-width: 70%;
  min-height: 300px;
  margin-bottom: 2.5%;
}

.comments-container {
  display: flex;
  width: 60%;
  max-width: 60%;
  min-width: 60%;
  min-height: 300px;
  margin-bottom: 2.5%;
}

.expansion-panel {
  width: 70%;
  margin-top: -2.5%;
  margin-bottom: 2.5%;
}

:host ::ng-deep .mat-expansion-panel-body {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.img {
  max-width: 50%;
  max-height: 50%;
}

.ckeditor-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 60%;
  min-width: 60%;
  min-height: 300px;
  margin-bottom: 2.5%;
}

.ckeditor-button {
  width: 30%;
  align-self: flex-end;
  margin-top: 1%;
}

.comment-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

hr {
  width: 65%;
  border: none;
  height: 1px;
  background-color: black;
}

.body-container {
  flex: 4;
  max-width: 70%;
  overflow-wrap: break-word;
}

.author-container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  border-radius: 100%;
  border: 3px solid #2196F3;
  margin-top: 10%;
}

.author-role {
  font-weight: bold;
  margin-top: 10%;
}

.form-container {
  flex: 9;
  max-width: 600px;
  min-width: 100px;
  width: 70%;
  text-align: center;
}

.post-button {
  width: 80%;
  margin-top: 5%;
}

:host ::ng-deep .ck-editor__editable {
  min-height: 200px !important;
  max-height: 200px !important;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
