<div class="main-container" *ngIf="!success && !error">
    <h1><span style="color: #E91E63">N</span>OUVEAU MOT DE PASSE</h1>
    <form [formGroup]="recoverForm" (ngSubmit)="submit()" class="form-container" fxLayout="column" fxLayoutAlign="space-between">
        
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Nouveau mot de passe</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-icon matSuffix color="accent">lock</mat-icon>
            <mat-error *ngIf="recoverForm.get('password').status === 'INVALID'">
                <app-validation-errors [errors]="recoverForm.get('password').errors"></app-validation-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Confirmation du mot de passe</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required [errorStateMatcher]="matcher">
            <mat-icon matSuffix color="accent">lock</mat-icon>
            <mat-error *ngIf="recoverForm.get('confirmPassword').status === 'INVALID' || recoverForm.hasError('notSame')">
                <app-validation-errors
                    [errors]="recoverForm.get('confirmPassword').status === 'INVALID' ? recoverForm.get('confirmPassword').errors : recoverForm.errors">
                </app-validation-errors>
            </mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" [disabled]="!recoverForm.valid">Valider</button>
    </form>
</div>
<div class="main-container" *ngIf="error && !success">
    <h2><span style="color: #E91E63">P</span>aramètres incorrects.</h2>
    <a href="/">Accueil</a>
</div>
<div class="main-container" *ngIf="success && !error">
    <h2><span style="color: #E91E63">V</span>otre mot de passe a bien été modifié.</h2>
    <a href="/signin">Se connecter</a>
</div>