.table-container {
  width: 100%;
}

table {
  width: 100%;
}

.form {
  width: 50%;
  display: flex;
}

.search {
  width: 75%;
}

.filter {
  width: 22.5%;
  margin-left: 2.5%;
}

button {
  width: 75%;
}
